<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>data</param-name>
    <param-value>xxx</param-value>
  </context-param>
  <servlet>
    <display-name>ServletDemo1</display-name>
    <servlet-name>ServletDemo1</servlet-name>
    <servlet-class>cn.st.web.base.servlet.ServletDemo1</servlet-class>
    <init-param>
      <param-name>data</param-name>
      <param-value>xxx</param-value>
    </init-param>
    <init-param>
      <param-name>data2</param-name>
      <param-value>yyy</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo1</servlet-name>
    <url-pattern>/ServletDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletDemo</servlet-name>
    <servlet-class>cn.st.web.base.servlet.ServletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo</servlet-name>
    <url-pattern>/ServletDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDemo2</display-name>
    <servlet-name>ServletDemo2</servlet-name>
    <servlet-class>cn.st.web.base.servlet.ServletDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo2</servlet-name>
    <url-pattern>/ServletDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseDemo</display-name>
    <servlet-name>ResponseDemo</servlet-name>
    <servlet-class>cn.st.web.base.servlet.ResponseDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseDemo</servlet-name>
    <url-pattern>/ResponseDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestDemo</display-name>
    <servlet-name>RequestDemo</servlet-name>
    <servlet-class>cn.st.web.base.servlet.RequestDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo</servlet-name>
    <url-pattern>/RequestDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieDemo1</display-name>
    <servlet-name>CookieDemo1</servlet-name>
    <servlet-class>cn.st.web.base.servlet.CookieDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieDemo1</servlet-name>
    <url-pattern>/CookieDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieDemo2</display-name>
    <servlet-name>CookieDemo2</servlet-name>
    <servlet-class>cn.st.web.base.servlet.CookieDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieDemo2</servlet-name>
    <url-pattern>/CookieDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieDemo3</display-name>
    <servlet-name>CookieDemo3</servlet-name>
    <servlet-class>cn.st.web.base.servlet.CookieDemo3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieDemo3</servlet-name>
    <url-pattern>/CookieDemo3</url-pattern>
  </servlet-mapping>
</web-app>